{% extends "newset/template.html" %}

{% block title %}
    Create New Set
{% endblock %}

{% block main %}
    <div class="container" id="container">
        <h1>Create New Set</h1>
        <input type="text" placeholder="Title" id="title">
        <div>
            <span>1</span>
            <input type="text" placeholder="Term" class="terms">
            <input type="text" placeholder="Definition" class="definitions">
            <button type="button" class="btn btn-danger btn-sm" onclick="deleteTerm(1)">Delete</button>
        </div>
    </div>

    <div class="container">
        <button type="button" class="btn btn-primary" onclick="createNewTerm()">Add Another Term</button>
        <button type="button" class="btn btn-success" onclick="submit()">Submit</button>
    </div>

    <script>
        var total = 1;
        var currId = 1;

        function createNewTerm() {
            total++
            currId++
            
            var div = document.createElement("div")
            var id = document.createElement("span")
            var deleteBtn = document.createElement("button")
            id.innerText = currId
            id.setAttribute("id", "order-"+currId)

            var term = document.createElement("input")
            var definition = document.createElement("input")

            term.setAttribute("type", "text")
            term.setAttribute("placeholder", "Term")
            term.setAttribute("class", "terms")

            definition.setAttribute("type", "text")
            definition.setAttribute("placeholder", "Definition")
            definition.setAttribute("class", "definitions")

            deleteBtn.setAttribute("type", "button")
            deleteBtn.setAttribute("id", `del-${currId}`)
            deleteBtn.setAttribute("class", "btn btn-danger btn-sm")
            deleteBtn.setAttribute("onclick", `deleteTerm(${currId})`) // set it to parent's className 
            deleteBtn.innerText = "Delete"

            div.appendChild(id)
            div.appendChild(term)
            div.appendChild(definition)
            div.appendChild(deleteBtn)
            div.setAttribute("id", "id-" + currId)
            document.getElementById("container").appendChild(div)

        }

        function deleteTerm(id) {
            const elements = document.getElementById("id-" + id);
            elements.remove()
            
            for (var i=id+1; i<=total; i++) {
                try {
                    document.getElementById("order-"+i).innerText = (i-1)
                    document.getElementById("order-"+i).setAttribute("id", "order-"+(i-1))
                    document.getElementById("id-"+i).setAttribute("id", "id-"+(i-1))
                    document.getElementById("del-"+i).setAttribute("onclick", `deleteTerm(${i-1})`)
                    document.getElementById("del-"+i).setAttribute("id", "del-"+(i-1))
                } catch(err) {
                    console.log(err)
                }

                console.log("order-"+(i-1))
            }
            total--
            
            currId = total
        }

        function submit() {
            data = []
            var terms = document.getElementsByClassName("terms")
            var definitions = document.getElementsByClassName("definitions")
            
            if (terms.length !== definitions.length) {
                alert("SOMETHING WENT WRONG! PLEASE REFRESH THE PAGE...")
            }

            for (var i=0; i<terms.length; i++) {
                data.push([terms[i].value])
            }

            for (var i=0; i<definitions.length; i++) {
                data[i].push(definitions[i].value)
            }

            fetch("/new/", {
                method: "POST",
                body: JSON.stringify({title: document.getElementById("title").value, data: data})
            })
            .then(response => response.json())
            .then(data => {
                var redirectUrl = data["redirect"]
                window.location.assign(redirectUrl)
            })
        }
    </script>
{% endblock %}